<section class="customer-details" *ngIf="customer"> <!-- *ngIf here, is for capybara. IT means "dont show section until customer is present". Wait for page to be rendered, than test -->
  <!-- <h1>Customer {{customer.id}}</h1>
  <h2>{{customer.first_name}} {{customer.last_name}}</h2>
  <h3>{{customer.email}}</h3>
  <h4>{{customer.username}}</h4>
  <h5>
    <small class="text-uppercase">Joined</small>
    {{customer.created_at}}
  </h5> -->

  <form>
    <div class="row">
      <div class="col-md-6">
        <shine-customer-info bind-customer="customer"></shine-customer-info>
        <shine-address
          addressType="Shipping"
          bind-address="customer.shipping_address">
        </shine-address>
      </div>

      <div class="col-md-6">
        <article class="panel panel-default">
          <header class="panel-heading">
            <h2 class="h4">Billing Info</h2>
          </header>
          <section class="panel-body">
            <shine-credit-card
              bind-cardholder_id="customer.cardholder_id">
            </shine-credit-card>
            <hr>
            <shine-address
              addressType="Billing"
              bind-address="customer.billing_address">
            </shine-address>
          </section>
        </article>
      </div>

    </div>
  </form>
</section>
