= simple_form_for([@play, @play.reviews.build]) do |f|
  #rating-form
    %label Rating
  = f.input :comment
  = f.button :submit, class: 'btn-custom2'

:javascript
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });