require 'test_helper'
<% module_namespacing do -%>
class <%= class_name %>JobTest < ActiveSupport::TestCase
  test 'if a test is needed' do
    assert false, "Delete this file if you don't need a unit test'
  end
end
<% end -%>
