.col-md-10.col-md-offset-1
  .message-show
    %h2= @message.title
    %p.message-posted-by= time_ago_in_words(@message.created_at)
    %p.message-desc= @message.description

    .links.btn_group
      = link_to 'Back', root_path, class: 'btn btn-default'