-# .col-md-6.col-md-offset-3
.col-md-12
  #pics.transitions-enabled
    - @pics.each do |pic|
      .box.panel.panel-default
        = link_to (image_tag pic.image.variant(resize: "350x350")), pic
        %h2= link_to pic.title, pic
