<div class="jumbotron">
  <h2>TodoYst! Free and Easy.</h2>
  <br>
  <h4>Trusted by many. Best online Task Management App</h4>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-danger' %>
</div>