@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    /* padding and border dont affect the width */
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height or full browser height */
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative; /* for the absolute positioned progress bar */
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before { /* Pseudo-element for the background bar */
    content: ''; /* Empty content for the pseudo-element */
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY((-50%));
    height: 4px;
    width: 100%; /* Full width of the container */
    z-index: -1;
}

.progress { /* The actual progress bar */
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY((-50%)); /* Center vertically */
    height: 4px;
    width: 0%; /* Initial width set to 0%, will be updated with JS */
    z-index: -1;
    transition: .4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
    color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    transition: .4s ease;
}

.btn:active {
    transform: scale(0.98)
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: default;
}
