<header>
    <h1>
        Welcome to Shine, <%= current_user.email %>
    </h1>
    <h2>
        We are using rails <%= Rails.version %>
    </h2>
</header>
<section>
    <p>
        Future home of shine dashboard
    </p>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>
