#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's work. Always Organized
    %button= link_to 'Enter', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet readymade godard minim 3 wolf moon. Ramps schlitz pork belly health goth, cardigan selvage humblebrag whatever elit shaman man braid street art kombucha waistcoat snackwave. Woke tumblr vexillologist tbh. Tousled enim tumblr taiyaki crucifix tofu. Et thundercats dreamcatcher sed, whatever mumblecore jean shorts quinoa cardigan fashion axe selfies bushwick distillery godard squid. Affogato fixie neutra keffiyeh, stumptown eu bicycle rights nostrud poutine tote bag aliquip authentic. Adipisicing butcher ut velit bicycle rights dolor sed. Subway tile gentrify vaporware, tofu bushwick normcore la croix tumeric mixtape.

#bottom_cta
  .wrapper
    %h2 Go Ahead
    %br
    %button= link_to 'Join Now', new_user_registration_path