<div id='page_wrapper'>
  <div id='profile_image'>
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id='content'>
    <h1>Johny Stickfinger</h1>
    <p>Kitsch poutine pour-over before they sold out, paleo salvia offal sartorial forage. Meh neutra 3 wolf moon typewriter pickled, franzen bicycle rights chartreuse cray pabst hashtag art party sartorial semiotics. Snackwave tumblr vaporware butcher brooklyn tbh pug synth adaptogen YOLO air plant vexillologist. Tacos tofu activated charcoal trust fund four dollar toast, shabby chic gastropub bitters drinking vinegar fashion axe.</p>
    
  </div>
</div>