h1 Welcome#index
p Predicting the outcome of matches

= link_to "Menage Teams", teams_path
| &nbsp;|&nbsp;
= link_to "Menage Games", games_path
| &nbsp;|&nbsp;
= link_to "Predict an outcome!", new_prediction_path